<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>

<div>
  <table style="width:100%">
    <tr>
      <td style="vertical-align: top">
          <div>Json Object: <br>   
            <ngx-json-viewer [json]="JsonObj"></ngx-json-viewer>
          </div>
      </td>
      <td style="vertical-align: top">
          <div>Serialized Json: <br>
            <ngx-json-viewer [json]="JsonSerialized"></ngx-json-viewer>
         
          </div>
      </td>
      <td style="vertical-align: top">
          <div>Deserialized Object: <br>
            <ngx-json-viewer [json]="JsonDeserialized"></ngx-json-viewer>
         
          </div>
      </td>
    </tr>
  </table>
 
  
  
</div>

